* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Scripts
*.sh text eol=lf
*.bash text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

# Images/binaries
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
